BOT_TOKEN = ...
PAYMENTS_TOKEN = ...

URL = https://min-api.cryptocompare.com/data/price

DB_HOST = db
DB_PORT = 5432
DB_USER = ...
DB_PASS = ...
DB_NAME = dollar_rate

CUSTOM_BOT_API = http://localhost:8081

URL_WEBHOOK = https://example.ru

NATS_SERVERS=nats://localhost:4222

SHEDULER_SENDING_DOLLAR_RATE_PREFIX = sending_dollar_rate
DOLLAR_RATE_QUEUE = q__dollar_rate
STORE_URL = sqlite:///data/jobs.sqlite
